<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewpor" content="width=device-width,initial-scale=1.0">
    <title>落音</title>
    <link rel="stylesheet" href="<?php echo base_url().'/resource/css/bootstrap-theme.css';?>" />
    <link rel="stylesheet" href="<?php echo base_url().'/resource/css/bootstrap-theme.min.css';?>" />
    <link rel="stylesheet" href="<?php echo base_url().'/resource/css/bootstrap.css';?>" />
    <link rel="stylesheet" href="<?php echo base_url().'/resource/css/bootstrap.min.css';?>" />
    <link rel="stylesheet" href="<?php echo base_url().'/resource/css/style.css';?>" />
</head>

<body class="bg-success">
<div class="container" >
    <h1>专辑搜索</h1>
    <div class="input-group col-md-3">
        <input type="text" class="form-control" placeholder="请输入专辑名" id="n"/>
        <span class="input-group-btn">
               <button class="btn btn-info btn-search" onclick="find()">查找</button>
            </span>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
            <td>专辑名</td>
            <td>发行日期</td>
            <td>制作人</td>
            <td>操作</td>
            </thead>
            <tbody id="albums">
            </tbody>
        </table>
    </div>
</div>
<!--居中-->
<script src="<?php echo base_url().'/resource/js/jquery.js'; ?>"></script>
<script src="<?php echo base_url().'/resource/js/jquery.min.js'; ?>"></script>
<script src="<?php echo base_url().'/resource/js/bootstrap.js'; ?>"></script>
<script src="<?php echo base_url().'/resource/js/bootstrap.min.js'; ?>"></script>
<script>
    function find() {
        var n=document.getElementById("n").value;
        var url = "<?php echo site_url('/find/falbums');?>";

        var str = '';
        $.ajax({
            type: 'POST',
            url: url,
            data: {
                name:n,
            },
            dataType: "JSON",
            success: function (data) {
                str += "<td>" +
                    data['albums'][0]["a_name"] +
                    "</td><td>" +
                    data['albums'][0]["a_date"] +
                    "</td><td>" +
                    data['albums'][0]["a_singer"] +
                    "</td><td>" +
                    "<button name='edit'" + "  value='" +
                    data['albums'][0]["id"] + "'>" +
                    "收藏</button>" +
                    "</td>";

                $("#albums").html(str);

            },
            error: function (msg) {//ajax请求失败后触发的方法
                alert("错误");//弹出错误信息
            }
        });
    }
</script>
</body>

</html>