<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewpor" content="width=device-width,initial-scale=1.0">
    <title>落音</title>
    <link rel="stylesheet" href="<?php echo base_url().'/resource/css/bootstrap-theme.css';?>" />
    <link rel="stylesheet" href="<?php echo base_url().'/resource/css/bootstrap-theme.min.css';?>" />
    <link rel="stylesheet" href="<?php echo base_url().'/resource/css/bootstrap.css';?>" />
    <link rel="stylesheet" href="<?php echo base_url().'/resource/css/bootstrap.min.css';?>" />
    <link rel="stylesheet" href="<?php echo base_url().'/resource/css/style.css';?>" />
</head>

<body  class="bg-success">
<div class="container" >
    <h1 class="text-center" style="margin-top: 20px">落音音乐平台<small>---搜索页面</small></h1>
<br>
    <p class="text-center">
        昵昵儿女语，灯火夜微明。<br>
        恩怨尔汝来去，弹指泪和声。<br>
        忽变轩昂勇士，一鼓填然作气，千里不留行。<br>
        回首暮云远，飞絮搅青冥。<br>
        众禽里，真彩凤，独不鸣。<br>
        跻攀寸步千险，一落百寻轻。<br>
        烦子指间风雨，置我肠中冰炭，起坐不能平。<br>
        推手从归去，无泪与君倾。</p>
</div>
<!--居中-->
<script src="<?php echo base_url().'/resource/js/jquery.js'; ?>"></script>
<script src="<?php echo base_url().'/resource/js/jquery.min.js'; ?>"></script>
<script src="<?php echo base_url().'/resource/js/bootstrap.js'; ?>"></script>
<script src="<?php echo base_url().'/resource/js/bootstrap.min.js'; ?>"></script>
</body>

</html>