<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewpor" content="width=device-width,initial-scale=1.0">
    <title>落音</title>
    <link rel="stylesheet" href="<?php echo base_url().'/resource/css/bootstrap-theme.css';?>"/>
    <link rel="stylesheet" href="<?php echo base_url().'/resource/css/bootstrap-theme.min.css';?>"/>
    <link rel="stylesheet" href="<?php echo base_url().'/resource/css/bootstrap.css';?>"/>
    <link rel="stylesheet" href="<?php echo base_url().'/resource/css/bootstrap.min.css';?>"/>
    <link rel="stylesheet" href="<?php echo base_url().'/resource/css/style.css';?>"/>

    <script src="<?php echo base_url().'/resource/js/jquery.js'; ?>"></script>
    <script src="<?php echo base_url().'/resource/js/jquery.min.js'; ?>"></script>
    <script src="<?php echo base_url().'/resource/js/bootstrap.js'; ?>"></script>
    <script src="<?php echo base_url().'/resource/js/bootstrap.min.js'; ?>"></script>
    <style type="text/css">
        input {
            width: 120px;
        }
    </style>
    <script>
        //删除
        function delet(id) {
            if (confirm("确定删除")) {
                var url = "<?php echo site_url('/admin/deletealbum');?>";
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        id: id
                    },
                    dataType: "JSON",

                    success: function (data) {
                        var i;
                        var str = '';
                        for (i = 0; i < data['album'].length; i++) {
                            str += "<tr id='" +
                                data['album'][i]["id"] +
                                "'><td>" +
                                data['album'][i]["a_name"] +
                                "</td><td>" +
                                data['album'][i]["a_date"] +
                                "</td><td>" +
                                data['album'][i]["a_singer"] +
                                "</td><td>" +
                                "<button name='delete' onclick='delet(" +
                                data['album'][i]["id"] +
                                ")'  value='" +
                                data['album'][i]["id"] +
                                "'>" +
                                "删除</button>" +
                                "<button name='edit' onclick='edit(" +
                                data['album'][i]["id"] +
                                ")' value='" +
                                data['album'][i]["id"] + "'>" +
                                "编辑</button>" +
                                "</td></tr>";
                        }
                        $("#album").html(str);
                        alert("成功");
                    },
                    error: function (msg) {//ajax请求失败后触发的方法
                        alert("错误");//弹出错误信息
                    }
                });
            }
        }
        //修改
        function edit(id) {
            var url = "<?php echo site_url('/admin/getalbum');?>";
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    id: id
                },
                dataType: "JSON",
                success: function (data) {
                    var str = "<td>" +
                        "<input type='text' required='required' name='a_name'  " +
                        "value='" +
                         data['special_album'][0]['a_name'] +
                        "'>" +
                        "</td><td>" +
                        "<input type='text' required='required' name='a_date'  " +
                        "value='" +
                        data['special_album'][0]['a_date'] +
                        "'>" +
                        "</td><td>" +
                        "<input type='text' required='required' name='a_singer'  " +
                        "value='" +
                        data['special_album'][0]['a_singer'] +
                        "'>" +
                        "</td><td>" +
                        "<button name='save' onclick='save(" +
                        data['special_album'][0]['id'] +
                        ")'  " +
                        "value='" +
                        data['special_album'][0]['id'] +
                        "'>" +
                        "保存" +
                        "</button></td>";

                    $("#" + data['special_album'][0]['id']).html(str);
                },
                error: function (msg) {//ajax请求失败后触发的方法
                    alert("错误");//弹出错误信息
                }
            });
        }
        //保存修改
        function save(id) {
            var a_name = document.getElementById(id).getElementsByTagName("input")[0].value;
            var a_date = document.getElementById(id).getElementsByTagName("input")[1].value;
            var a_singer = document.getElementById(id).getElementsByTagName("input")[2].value;

            var url = "<?php echo site_url('/admin/changealbum');?>";

            var str = '';
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    id: id,
                    'a_name': a_name,
                    'a_date': a_date,
                    'a_singer': a_singer,
                },
                dataType: "JSON",
                success: function (data) {
                    str += "<td>" +
                        data['special_album'][0]["a_name"] +
                        "</td><td>" +
                        data['special_album'][0]["a_date"] +
                        "</td><td>" +
                        data['special_album'][0]["a_singer"] +
                        "</td><td>" +
                        "<button name='delete' onclick='delete(" +
                        data['special_album'][0]["id"] +
                        ")' value='" +
                        data['special_album'][0]["id"] +
                        "'>" +
                        "删除</button>" +
                        "<button name='edit' onclick='edit(" +
                        data['special_album'][0]["id"] +
                        ")'  value='" +
                        data['special_album'][0]["id"] + "'>" +
                        "编辑</button>" +
                        "</td>";

                    $("#" + data['special_album'][0]['id']).html(str);
                    alert("保存成功！！！");
                },
                error: function (msg) {//ajax请求失败后触发的方法
                    alert("错误");//弹出错误信息
                }
            });
        }

    </script>

</head>

<body class="bg-success">

<div class="container">
    <h1>专辑管理</h1>
    <table class="table table-hover">
        <thead>
        <td>专辑名</td>
        <td>发行日期</td>
        <td>制作人</td>
        <td>操作</td>
        </thead>
        <tbody id="album">
        <?php foreach($album as $v): ?>
        <tr id="<?php echo $v['id'];?>">
            <td>
                <?php echo $v['a_name'];?>
            </td>
            <td>
                <?php echo $v['a_date'];?>
            </td>
            <td>
                <?php echo $v['a_singer'];?>
            </td>
            <td>
                <button name="delete" value="<?php echo $v['id'];?>" onclick="delet(value)">
                    删除
                </button>
                <button name="edit" value="<?php echo $v['id'];?>" onclick="edit(value)">
                    编辑
                </button>
            </td>
        </tr>
        <?php endforeach ?>
    </table>
    <h3>专辑添加</h3>
    <form class="myform" method="post" action="<?php echo site_url().'/admin/addalbum/';?>">
        <div class="form-group" >
            <label>专辑名</label>
            <input type="text" class="form-control" name="n">
            <label>发行日期</label>
            <input type="datetime" class="form-control" name="d">
            <label>制作人</label>
            <input type="text" class="form-control" name="s">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

</body>

</html>