<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewpor" content="width=device-width,initial-scale=1.0">
		<title>落音</title>
		<link rel="stylesheet" href="<?php echo base_url().'/resource/css/bootstrap-theme.css';?>" />
		<link rel="stylesheet" href="<?php echo base_url().'/resource/css/bootstrap-theme.min.css';?>" />
		<link rel="stylesheet" href="<?php echo base_url().'/resource/css/bootstrap.css';?>" />
		<link rel="stylesheet" href="<?php echo base_url().'/resource/css/bootstrap.min.css';?>" />
		<link rel="stylesheet" href="<?php echo base_url().'/resource/css/style.css';?>" />
	</head>

	<body class="bg">
		<div class="container">
			<!--居中-->
			<!--标题-->
			<h1>落音<small>———简单的音乐平台</small></h1>
			<!--导航栏 -->
			<nav class="navbar navbar-inverse">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
					<a class="navbar-brand" href="#">落音</a>
				</div>
				<div id="navbar-menu" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li >
							<a href="<?php echo site_url().'/Welcome/index/';?>">首页</a>
						</li>
						<li>
							<a href="<?php echo site_url().'/Welcome/find/';?>">歌曲搜索</a>
						</li>
						<li>
							<a href="<?php echo site_url().'/Welcome/user/';?>">私人乐库</a>
						</li>
						<li class="active">
							<a href="<?php echo site_url().'/Welcome/admin/';?>">后台管理</a>
						</li>
						</li>
					</ul>
				</div>
			</nav>
			<!--内容-->
			<div id="content" class="row">
				<!--主要-->
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-2">
							<ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
								<li class="active">
									<a href="#">
										<i class="glyphicon glyphicon-th-large"></i> 管理员：<?php echo $this->session->name; ?>
									</a>
								</li>

								<li>
									<a href="<?php echo site_url().'/admin/user_info_show/';?>" target="mainFrame">
										用户管理
									</a>
								</li>
								<li>
									<a href="<?php echo site_url().'/admin/songshow/';?>" target="mainFrame">
										歌曲管理

									</a>
								</li>
								<li>
									<a href="<?php echo site_url().'/admin/singershow/';?>" target="mainFrame">
										歌手管理
									</a>
								</li>
								<li>
									<a href="<?php echo site_url().'/admin/albumshow/';?>" target="mainFrame">
										专辑管理
									</a>
								</li>
								<li>
									<a href="<?php echo site_url().'/admin/exit_forum';  ?>">退出</a>
								</li>
							</ul>
						</div>
						<div class="col-md-10">
							<iframe src="<?php echo site_url().'/admin/v/';?>" id="mainFrame" name="mainFrame" frameborder="0" width="100%"  height="100%" frameBorder="0"></iframe>
						</div>
					</div>
				</div>
				<!--主要-->
		    </div>
			<!--尾部-->
			<div class="footer">
			<p class="text-center">

				2018 &copy; TCJ-Music.

			</p>
		</div>
			</div>
		</div>
		<!--居中-->
			<script src="<?php echo base_url().'/resource/js/jquery.js'; ?>"></script>
			<script src="<?php echo base_url().'/resource/js/jquery.min.js'; ?>"></script>
			<script src="<?php echo base_url().'/resource/js/bootstrap.js'; ?>"></script>
			<script src="<?php echo base_url().'/resource/js/bootstrap.min.js'; ?>"></script>
	</body>

</html>