<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewpor" content="width=device-width,initial-scale=1.0">
		<title>落音</title>
		<link rel="stylesheet" href="<?php echo base_url().'/resource/css/bootstrap-theme.css';?>" />
		<link rel="stylesheet" href="<?php echo base_url().'/resource/css/bootstrap-theme.min.css';?>" />
		<link rel="stylesheet" href="<?php echo base_url().'/resource/css/bootstrap.css';?>" />
		<link rel="stylesheet" href="<?php echo base_url().'/resource/css/bootstrap.min.css';?>" />
		<link rel="stylesheet" href="<?php echo base_url().'/resource/css/style.css';?>" />
	</head>

	<body class="bg">
	<!--居中-->
		<div class="container">
			<!--居中-->
			<!--标题-->
			<h1>落音<small>———简单的音乐平台</small></h1>
			<!--导航栏 -->
			<nav class="navbar navbar-inverse">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
					<a class="navbar-brand" href="#">落音</a>
				</div>
				<div id="navbar-menu" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active">
							<a href="<?php echo site_url().'/Welcome/index/';?>">首页</a>
						</li>
						<li>
							<a href="<?php echo site_url().'/Welcome/find/';?>">歌曲搜索</a>
						</li>
						<li>
							<a href="<?php echo site_url().'/Welcome/user/';?>">私人乐库</a>
						</li>
						<li>
							<a href="<?php echo site_url().'/Welcome/admin/';?>">后台管理</a>
						</li>
					</ul>
				</div>
			</nav>
			<!--内容-->
			<div id="content" class="row">
				<!--主要-->
				<div class="col-md-9">

					<h2>时光流年<small>—记忆里的容颜</small></h2>
					<div class="row">
						<div class="col-xs-8 col-sm-4">
							<img src="<?php echo base_url().'/resource/img/xs.jpg';?>" class="img-responsive" alt="Responsive image">
							<h3>专辑名：自定义 </h3>
							<h3>制作人：许嵩</h3>
						</div>
						<div class="col-xs-4 col-sm-8">
							<div class="row">
								<div class="col-xs-6 col=sm-6">
									<p class="bg-warning">
										简介：<br> &ensp; &ensp; 《自定义》的感情色彩是灰色的，暗涌的回忆与潜藏的自我调侃交替更迭， 在情绪处理上有着超越年龄的成熟和细腻。创作者许嵩也似乎压根没有打算让整张专辑的曲风变化多端， 摆成一道拼盘——如果几年后《自定义》还被很多人提起，那么这一点一定是个重要因素——风格上的协调性被驾驭的极为出色， 但又绝对让人一遍听下来就记得住每首歌的特质。歌词题材方面，亦在小范围内做了大文章，回归情歌本质， 以内心体验和情感故事为主，不过也有如《内线》这样涉及杀手暗战的边缘题材让人耳目一新。音乐制作方面， 许嵩简洁而soft的音乐编配安静舒适，个人辨识度与耐听度很高。当捧着歌词册聆听与玩味《自定义》一遍之后， 相信你能感知到它独特的音乐份量。
									</p>
									<br>
									<p>发行时间：2009年1月10日</p>
								</div>
								<div class="col-xs-6 col=sm-6">
									<ul class="list-group" style="text-align: center;">
										<li class="list-group-item">《如果当时》</li>
										<li class="list-group-item">《多余的解释》</li>
										<li class="list-group-item">《有何不可》</li>
										<li class="list-group-item">《坏孩子》</li>
										<li class="list-group-item">《清明雨上》</li>
										<li class="list-group-item">《城府》</li>
										<li class="list-group-item">《认错》</li>
										<li class="list-group-item">《内线》</li>
										<li class="list-group-item">《星座书上》</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<br>
					<h2>幻想空间<small>—自由是个国度</small></h2>
					<div class="row">
						<div class="col-sm-6 col-md-4">
							<div class="thumbnail">
								<img src="<?php echo base_url().'/resource/img/cd.jpg';?>" alt="...">
								<div class="caption" style="text-align: center;">
									<h3>成都</h3>
									<p>和我在成都的街头走一走
										<br> 直到所有的灯都熄灭了也不停留
										<br> 你会挽着我的衣袖
										<br> 我会把手揣进裤兜
										<br> 走到玉林路的尽头
										<br>坐在小酒馆的门口</p>
									<p>
										<a href="#" class="btn btn-default" role="button">了解更多</a>
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="thumbnail">
								<img src="<?php echo base_url().'/resource/img/jy.jpg';?>" alt="...">
								<div class="caption" style="text-align: center;">
									<h3>戒烟</h3>
									<p>戒了烟我不习惯
										<br> 没有你我怎么办
										<br> 三年零一个礼拜
										<br> 才学会怎么忍耐
										<br> 你给过我的伤害
                                         <br>...
									</p>
									<p>
										<a href="#" class="btn btn-default" role="button">了解更多</a>
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4">
							<div class="thumbnail">
								<img src="<?php echo base_url().'/resource/img/xc.jpg';?>" alt="...">
								<div class="caption" style="text-align: center;">
									<h3>消愁</h3>
									<p>
										一杯敬自由，一杯敬死亡
										<br>宽恕我的平凡，
										<br>驱散了迷惘
										<br>好吧天亮之后总是潦草离场
										<br>清醒的人最荒唐
										<br>...
									</p>
									<p>
										<a href="#" class="btn btn-default" role="button">了解更多</a>
									</p>
								</div>
							</div>
						</div>

					</div>

				</div>
				<!--侧栏-->
				<div class="col-md-3">
					<h2>闲听落花</h2>

					<ul class="nav nav-tabs nav-stacked">
						<li>
							<a href='#'>歌曲播放</a>
						</li>
						<li>
							<a href='#'>MV播放</a>
						</li>
						<li>
							<a href='#'>音乐资讯</a>
						</li>

					</ul>

					<div class="container" id="myCarousel">
						<!-- 轮播图容器 -->
						<div id="carousel-example-generic" class="carousel slide">
							<!-- 轮播图上的圆圈链接 -->
							<ol class="carousel-indicators radiou">
								<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
								<li data-target="#carousel-example-generic" data-slide-to="1"></li>
								<li data-target="#carousel-example-generic" data-slide-to="2"></li>
							</ol>
							<!-- 轮播图具体内容 -->
							<div class="carousel-inner">
								<div class="item active">
									<img src="<?php echo base_url().'/resource/img/m2.jpg';?>" style="height: 100%; width:100%">
									<!-- 图上文字 -->
									<div class="carousel-caption">
										<h4>Red Car Fly</h4>
										<p>ajsuten hsdfupeia jsdtfua</p>
									</div>
								</div>
								<div class="item">
									<img src="<?php echo base_url().'/resource/img/m3.jpg';?>" style="height: 100%; width:100%">
									<!-- 图上文字 -->
									<div class="carousel-caption">
										<h4>White Car Fly</h4>
										<p>ajsuten hsdfupeia jsdtfua</p>
									</div>
								</div>
								<div class="item">
									<img src="<?php echo base_url().'/resource/img/m4.jpg';?>" style="height: 100%; width:100%">
									<!-- 图上文字 -->
									<div class="carousel-caption">
										<h4>Blue Car Fly</h4>
										<p>ajsuten hsdfupeia jsdtfua</p>
									</div>
								</div>
							</div>
							<!-- 轮播图上的向前一图切换链接 -->
							<a href="#carousel-example-generic" data-slide="prev" class="left carousel-control">
								<span class="glyphicon glyphicon-chevron-left"></span>
							</a>
							<!-- 轮播图上的向后一图切换链接 -->
							<a href="#carousel-example-generic" data-slide="next" class="right carousel-control">
								<span class="glyphicon glyphicon-chevron-right"></span>
							</a>
						</div>
					</div>

				</div>

			</div>
			<!--尾部-->
			<div class="footer">
				<p class="text-center">

					2018 &copy; TCJ-Music.

				</p>
			</div>
			<!--居中-->
		</div>
		<!--居中-->
		<script src="<?php echo base_url().'/resource/js/jquery.js'; ?>"></script>
		<script src="<?php echo base_url().'/resource/js/jquery.min.js'; ?>"></script>
		<script src="<?php echo base_url().'/resource/js/bootstrap.js'; ?>"></script>
		<script src="<?php echo base_url().'/resource/js/bootstrap.min.js'; ?>"></script>
			<script>
                $(".carousel").carousel({
                    interval: 2000 //每隔两秒自动轮播
                })
			</script>
	</body>

</html>